body{
	text-align: center;
	text-shadow: 20px bottom;
	text-transform: uppercase;
	letter-spacing: 40px;
	background: linear-gradient(to right, red, skyblue);

}

h1{
	font-style: bold;
	
}

h2{
	letter-spacing: 15px;

}